<div class="listview lv-message" style="min-height:600px;">
    <div class="lv-header-alt clearfix">
        <div id="ms-menu-trigger"  data-ng-class="{ 'open': mactrl.lvMenuStat }" data-ng-click="mactrl.lvMenuStat = (mactrl.lvMenuStat===true ? false : true )">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </div>

        <div class="lvh-label hidden-xs text-left">
            <div class="lv-avatar pull-left">
                <img src="img/profile-pics/1.jpg" alt="">
            </div>
            <span class="c-black">David Parbell</span>
        </div>

        <ul class="lv-actions actions">
            <li>
                <a href="" data-ng-click="coreCtrl.fullScreen()">
                    <i class="zmdi zmdi-fullscreen"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="lv-body">
        <div class="lv-item media">
            <div class="lv-avatar pull-left">
                <img src="img/profile-pics/1.jpg" alt="">
            </div>
            <div class="media-body">
                <div class="ms-item">
                    Quisque consequat arcu eget odio cursus, ut tempor arcu vestibulum. Etiam ex arcu, porta a urna non, lacinia pellentesque orci. Proin semper sagittis erat, eget condimentum sapien viverra et. Mauris volutpat magna nibh, et condimentum est rutrum a. Nunc sed turpis mi. In eu massa a sem pulvinar lobortis.
                </div>
                <small class="ms-date"><i class="zmdi zmdi-time"></i> 20/02/2015 at 09:00</small>
            </div>
        </div>  

        <div class="lv-item media right">
            <div class="lv-avatar pull-right">
                <img src="img/profile-pics/8.jpg" alt=""> 
            </div>
            <div class="media-body">
                <div class="ms-item">
                    Mauris volutpat magna nibh, et condimentum est rutrum a. Nunc sed turpis mi. In eu massa a sem pulvinar lobortis.
                </div>
                <small class="ms-date"><i class="zmdi zmdi-time"></i> 20/02/2015 at 09:30</small>
            </div> 
        </div>  

        <div class="lv-item media">
            <div class="lv-avatar pull-left">
                <img src="img/profile-pics/1.jpg" alt="">
            </div>
            <div class="media-body">
                <div class="ms-item">
                    Etiam ex arcumentum
                </div>
                <small class="ms-date"><i class="zmdi zmdi-time"></i> 20/02/2015 at 09:33</small>
            </div>
        </div>

        <div class="lv-item media right">
            <div class="lv-avatar pull-right">
                <img src="img/profile-pics/8.jpg" alt="">
            </div>
            <div class="media-body">
                <div class="ms-item">
                    Etiam nec facilisis lacus. Nulla imperdiet augue ullamcorper dui ullamcorper, eu laoreet sem consectetur. Aenean et ligula risus. Praesent sed posuere sem. Cum sociis natoque penatibus et magnis dis parturient montes,
                </div>
                <small class="ms-date"><i class="zmdi zmdi-time"></i> 20/02/2015 at 10:10</small>
            </div>
        </div>

        <div class="lv-item media">
            <div class="lv-avatar pull-left">
                <img src="img/profile-pics/1.jpg" alt="">
            </div>
            <div class="media-body">
                <div class="ms-item">
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam ac tortor ut elit sodales varius. Mauris id ipsum id mauris malesuada tincidunt. Vestibulum elit massa, pulvinar at sapien sed, luctus vestibulum eros. Etiam finibus tristique ante, vitae rhoncus sapien volutpat eget
                </div>
                <small class="ms-date"><i class="zmdi zmdi-time"></i> 20/02/2015 at 10:24</small>
            </div>
        </div>
    </div>
    
    <div class="clearfix"></div>

    <div class="lv-footer ms-reply">
        <textarea placeholder="What's on your mind..."></textarea>

        <button><i class="zmdi zmdi-mail-send"></i></button>
    </div>
</div>